body {
    /* min-height: 100vh; */


    background-color: black;

}



.container-fluid {
    height: 100vh !important;
}

.row {
    /* min-height: 100vh !important; */

    height: 100% !important;
}

#left-menu {
    /* background-color: green !important; */
    width: 270px !important;
    height: 100% !important;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

li a {
    font-size: 1.1rem !important;
    color: whitesmoke !important;
    padding: .8rem .8rem !important;
    border-radius: 30px;
}

li a:hover {
    background-color: rgba(255, 255, 255, .1);
}

li a:hover i {
    transform: scale(1.1);
}

i {
    font-size: 1.5rem;
    color: whitesmoke;
    transition: all 150ms ease;
}


.navbar-brand {
    padding-left: .5rem !important;
    width: 100% !important;
}

.navbar-brand i {
    display: none;
    font-size: 1.7rem !important;
}

.hamburger-li {
    margin-top: auto !important;
    margin-bottom: 1.2rem !important;
}





.navbar {


    padding-top: 1.9rem !important;
    background-color: black !important;
    height: 100%;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    flex-wrap: nowrap;
}

.navbar-nav {
    margin-top: 1.9rem !important;
    gap: .5rem !important;
    width: 100% !important;
    height: 100%;


}

#content {
    height: 100% !important;
    overflow-y: scroll !important;
    background-color: black !important;
}


#content::-webkit-scrollbar {
    display: none !important;
    position: fixed !important;
}



@media screen and (max-width:1260px) {
    #left-menu {
        /* background-color: green !important; */
        width: 82px !important;

    }

    .navbar {
        padding-top: 1.7rem !important;
    }


    .navbar-brand {
        padding-left: 0rem !important;
        display: flex;
        justify-content: center;

        border-radius: 30px;
        padding: .8rem !important;
    }

    .navbar-brand img {
        display: none !important;
    }



    .navbar-brand:hover {
        background-color: rgba(255, 255, 255, .1) !important;

    }

    .navbar-brand:hover i {
        transform: scale(1.1) !important;
    }

    .navbar-brand i {
        display: block !important;
    }


    .navbar-nav {
        margin-top: 2.5rem !important;
        gap: .7rem !important;


    }


    .hamburger-li {
        margin-bottom: 1.4rem !important;
        margin-top: auto !important;
    }


    li:first-child a span {
        font-weight: normal !important;
    }

    li {
        /* background-color: yellow; */
        gap: 0 !important;
    }




    li a {
        justify-content: center;
        position: relative;
        /* background-color: red; */
    }



    li a span {
        white-space: nowrap;
        text-align: center;
        position: absolute;
        left: 68px;
        background-color: rgba(35, 35, 35);
        padding: .5rem .8rem !important;
        border-radius: 10px;
        font-size: 1rem !important;
        transform: scale(.5);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        z-index: 1;

    }

    li a span::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        top: 10px;
        left: -5px;
        background-color: rgba(35, 35, 35);
        border-radius: 3px;


        transform: rotate(45deg);
        z-index: -1;
    }

    .span-up {
        animation: span-up 350ms ease forwards;
    }




    @keyframes span-up {
        0% {
            transform: scale(.5);
            opacity: 0;
            visibility: hidden;
        }

        50% {
            transform: scale(1.1);
        }

        100% {
            transform: scale(1);
            opacity: 1;
            visibility: visible;
        }
    }

    .span-back {
        animation: span-back 100ms ease forwards;
    }




    @keyframes span-back {
        0% {

            transform: scale(1);
            opacity: 1;
            visibility: visible;
        }

        100% {
            transform: scale(.5);
            opacity: 0;
            visibility: hidden;
        }
    }
}